# NETWORK = MAINNET | KOVAN | AVALANCHE | ...
MAINNET_RPC=... # Archival node RPC like alchemy, REQUIRED
# FOR EACH NETWORK OPTIONAL
NETWORK_RPC=...
NETWORK_DEPLOYER_PK=0x...
NETWORK_PROTOCOL_ADMIN_ADDRESS=0x...
NETWORK_STRATEGY_ADMIN_ADDRESS=0x...
NETWORK_PROTOCOL_TREASURY_ADDRESS=0x...
NETWORK_STRATEGY_TREASURY_ADDRESS=0x...
# GENERAL OPTIONAL
ETHERSCAN_API_KEY=...
