{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": "*.ts",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": "test/integration/*.ts",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
