{
    "overrides": [
      {
        "files": "*.sol",
        "options": {
          "printWidth": 120
        }
      },
      {
        "files": "*.test.ts",
        "options": {
          "tabWidth": 4
        }
      }
    ]
  }