on: ["push"]

name: Notification

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Notify telegram chat
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_NOTIFICATIONS_CHAT_ID }}
          token: ${{ secrets.TELEGRAM_API_KEY }}
          message: |
            ⚡️ ${{ github.actor }} pushed `${{ github.event.head_commit.message }}` (https://github.com/${{ github.repository }}/commit/${{ github.sha }}) to branch ${{ github.ref }} in https://github.com/${{ github.repository }}
      